on: push

jobs:
  test:
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [^12, ^14, ^16, ^18]
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: install
        run: yarn install

      - name: test
        run: yarn test
